<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ontologies namespace="OntologiesNamespace" >

    <!--http://www.w3.org/1999/02/22-rdf-syntax-ns#-->
    <ontology uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#" prefix="rdf">
      <filesource location="Ontologies/rdf.ttl"/>
    </ontology>

    <ontology uri="http://www.semanticweb.org/administrator/ontologies/2022/10/education-ontology/" prefix="education">
      <filesource location="Ontologies/education-ontology.owl"/>
    </ontology>
    <ontology uri="http://www.semanticweb.org/administrator/ontologies/2022/10/personal-data-ontology/" prefix="personal">
      <filesource location="Ontologies/personal-data-ontology.owl"/>
    </ontology>

	  <ontology uri="http://www.semanticweb.org/administrator/ontologies/2022/10/health-ontology/" prefix="health">
		  <filesource location="Ontologies/health-ontology.owl"/>
	  </ontology>
	  <ontology uri="http://www.semanticweb.org/administrator/ontologies/2022/10/military-ontology/" prefix="military">
		  <filesource location="Ontologies/military-ontology.owl"/>
	  </ontology>
  </ontologies>
</configuration>