@*@model List<materTestCore2.Models.education.StudentProfile>
*@@*
@model List<materTestCore2.Models.education.exam>
*@
@model List<materTestCore2.Models.EGovModels.education.college>

@using materTestCore2.Models
@{
    ViewData["Title"] = "Home Page";
}

<div>



</div>
